.grid-item {
  object-fit: cover;
  min-height: 200px;
}

.grid {
  min-height: 100vh;
}

@media (max-width: 1100px) {
  .grid-item {
    min-height: 150px;
  }
}

@media (max-width: 900px) {
  .grid-item {
    min-height: 120px;
  }
}
