.actions-wrapper {
  width: 240px;
}

.item {
  max-height: 35vh;
  max-width: 300px;
  object-fit: contain;
}

.social {
  height: 36px;
  width: 36px;
  display: inline-block;
}

.copy-btn {
  text-decoration: underline;
}
